.instagram-wp {
  background-image: url("~/assets/images/common/instagram-icon.png");
  margin: 10rem 0;
  min-height: 400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
