
.cam-icon-wp {
  position: relative;
  img {
    position: absolute;
    width: 100px;
    height: auto;
    top: -100px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.carousel-wp {
  margin: 2.5rem 0;
}
