$main-color-active: #d94d07;
$main-color-active-light: #905d31;
$main-color-active-transparent: #d94d0740;

$main-color-dark: #060608;
$main-app-color: #252426;
//$main-color-dark: #282321;
$main-color-white: #ffffff;

$gray-1: #f9f9f7;
//$gray-1: #f3f3f3;
$gray-2: #cccccc;
$gray-3: #cccccc;


$orange-lite-color: #f7efea9e;

$red-1: #c26573;
$red-2: #eac3cf;
$red-2: #efe2ea;

$palette-1: #fb1771;
$palette-2: #fe97a8;
$palette-3: #fbb8b4;
$palette-4: #fae4c7;
$palette-5: #d8f3e9;

$footer-bg: #7c4d3d;

$max-container-width: 1600px;

$box-shadow: 0 4px 20px -5px rgba(0,0,0,.15);
$box-shadow-2: 0px 0px 69px -29px rgba(179,179,179,1);
$box-shadow-mini: 0 0 7px -1px rgba(201,201,201,1);

$radius-1: 4px;
$radius-2: 6px;
$radius-3: 8px;
